%h2
  = t('.title')
%p
  Sun Logos by
  = link_to('Sarah Frisk', 'http://www.sarahfrisk.com', :title => 'Sarah Frisk - Programing Junkie • Creative Writing Enthusaist • Star Wars Fangirl') + '.'
%p
  Silk icons by
  = link_to('Mark James', 'http://www.famfamfam.com/lab/icons/silk/', :title => 'Silk Icons')
  and licensed under the
  = link_to('Creative Commons Attribution 3.0 Unported License', 'http://creativecommons.org/licenses/by/3.0/', :title => 'Creative Commons Attribution 3.0 Unported License') + '.'
%p
  social.me social media icons by
  = link_to('jwloh', 'http://jwloh.deviantart.com/art/Social-me-90694011', :title => 'social.me by ~jwloh on deviantART') + '.'
%p
  Project version control by
  = link_to('GitHub', 'http://github.com/jamesarosen', :title => 'GitHub: Social Coding') + '.'
%p
  Server hosting by
  = link_to('Heroku', 'http://heroku.com', :title => 'Heroku | Ruby Cloud Platform as a Service') + '.'
