%h2 My Aggregate Calendar

-if @user.calendars.any?
  %p
    Here is the URL for your aggregate:

  .calendar.aggregate= aggregate_link(@user)

  %div
    Give that URL to anybody you want to have access to your free-busy schedule.
    = t('.reset_privacy_token', :reset_link => inline_button_to(t('.reset_link_text'), reset_privacy_token_user_aggregate_path, :put, :class => 'ajax'))

  %h3 Your aggregate is composed of the following calendars:
  = calendars_list(@user)
  .add.calendar
    = link_to t('.add_calendar'), new_user_calendar_path(:user_id => :current)
-else
  %div
    = t('.none', :add_link => link_to(t('.add_one'), new_user_calendar_path(:user_id => :current)))
