<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Less Scheduling</title>
    <%= stylesheet_link_tag 'reset', 'application', :cache => false %>
    <%= javascript_include_tag 'jquery-1.3.2.min', 'application', :cache => false %>
  </head> 
  <body>
    <div id='wrapper'>
      <div id='navbar'>
      </div>
      <div id='main'>
        <%= yield %>
      </div>
      <div id='footer'>
        <p>
          Less Scheduling was created by <%= link_to 'James Rosen', 'http://jamesarosen.com', :title => "James Rosen's blog" -%>
          and the fine folks at <%= link_to 'Less Everything', 'http://lesseverything.com', :title => 'Less Everything' -%>.
          <%= link_to 'Report a bug', 'http://github.com/gcnovuss/less_scheduling/issues', :title => 'Less Scheduling Issues on GitHub' -%>.
        </p>
      </div>
    </div>
  </body>
</html>
