<!DOCTYPE html>

%html
  %head
    %title DayMash
    = stylesheet_link_tag 'reset', 'application', 'credentials', 'sidebar', :cache => true
    = javascript_include_tag 'jquery-1.3.2.min', 'application', :cache => false
    = add_html5_dom_elements_to_ie
  %body
    = render :partial => '/layouts/header'
    = render :partial => '/layouts/sidebar'
    #main
      = render_flash
      = yield
    = render :partial => '/layouts/footer'
    = rpx_scripts
